<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/user/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <% if (error) { %>
            <div class="error"><%= error %></div>
        <% } %>
        <form id="loginForm" action="/login" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" autocomplete="off" required>
                <input type="checkbox" id="showPassword"> Show Password
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div>
                <p>Don't have an account? <a href="/signup">Sign up here</a></p>
            </div>
        </form>
        <div class="loader" style="display: none;">Loading...</div>
        <script src="../../public/js/user/login-frontend.js"></script>
    </div>
</body>
</html>
